// Here you can add other styles
$primary-color: #17a2b8;
$dark-color: #343a40;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;
$max-width: 1100px;

// Set text color based on background
input {
  border: 2px solid;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.5rem;
  transition: border-color 0.5s ease-out;
}

input:optional {
  border-color: gray;
}

input:required:valid {
  border-color: green;
}

input:invalid {
  border-color: red;
}

input:required:focus:valid {
  background: url('https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg')
    no-repeat 95% 50% lightgreen;
  background-size: 25px;
}

input:focus:invalid {
  background: url('https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg')
    no-repeat 95% 50% lightsalmon;
  background-size: 25px;
}

.c-body {
  background-color: white;
}
#modified-header {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
}

.c-main,
.footer,
.modified-header {
  .test-list {
    border: 1px solid darkblue;
    float: right;
    color: white;
    margin: 2rem;
    font-weight: bold;
    background-color: $success-color;
  }
}

.modified-subheader {
  .breadcrumb-item {
    a {
      color: #33abe5 !important;
    }
  }
}
