.doExam-main {
  width: auto;
  height: auto;
  text-align: center;
  margin-bottom: 2rem;
  .doExam-main-intro {
    margin-bottom: 2rem;
  }
  .doExam-exam {
    //border: 1px solid darkblue;
    margin-right: 3rem;
  }
  .doExam-question {
    border: 1px solid darkblue;
  }
  .doExam-main-counter {
    font-weight: bold;
    font-size: 20px;
    margin: 0 1rem;
  }
  .answer-row {
    display: flex;
    // justify-content: space-evenly;
    margin: 2px;
    .answer-row-stt {
      margin-right: 2px;
    }
  }
  .exam{
    margin: 0;
  }
}

.answer-sheet {
  border: 1px solid darkblue;
  .answer-sheet-header {
    font-size: 15px;
    font-weight: bolder;
  }
  .answer-abcd{
    margin-left: 1rem;
    .answer-a,.answer-b,.answer-c,.answer-d{
      font-weight: bolder;
      margin-left: 5px;
    }
    &.modified{
      padding-left: 10px;
    }
  }
 
  .answer-row{
    font-size: 12px;
    .answer-item{
      margin-left: 1px;
    }
    .answer-row-stt{
      font-weight: bolder;
    }
  }
  .answer-sheet-column{
    margin-right: 10px !important;
    margin-left: -15px !important;
  }
}
.radio-btn {
  margin-right: 10px;
  font-size: 20px;
}
