.introduction-page-container {
  /*  background-size: 100% 100%;
  background-image: url('../assets/page/introduction.jpg'); */
  background: url(images/intro4.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  background-color: pink;
  .introduction-page-modal {
    margin: 0;
    position: absolute;
    left: 38%;
    font-family: 'Oleo Script', 'Comic Sans MS', 'Comic Sans', cursive;

    .introduction-page-header {
      color: $base-red;
      line-height: none;
      text-align: right;
      text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
      margin-bottom: 10px;
    }
    .introduction-page-footer {
      display: flex;
      justify-content: end;
      flex-wrap: wrap;

      .button {
        display: flex;
        height: 3rem;
        width: 8rem;
        margin: 8px;
        border: none;
        border-radius: 25px;
        color: $base-red;
        background: #ffffff;
        text-decoration: none;
        font-weight: 700;
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.507) 0px 3px 8px;
        transition: all 0.5s ease-Out;
      }
      #button-2,
      #button-1 {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        #slide {
          width: 100%;
          height: 100%;
          left: -150px;
          background: $base-red;
          position: absolute;
          transition: all 0.2s ease-Out;
          bottom: 0;
        }

        div {
          position: relative;
          transition: all 0.4s ease-Out;
        }
        svg {
          position: relative;
          transition: all 0.4s ease-Out;
          margin-left: 5px;
        }
        &:hover {
          width: 10rem;
          background: $base-red;
          #slide {
            left: 0;
          }
          div {
            font-size: 1.6rem;
            font-weight: bolder;
            color: #ffffff;
          }
          svg {
            width: 28px;
            height: 28px;
            color: #ffffff;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .introduction-page-header {
    font-size: 3rem;
    font-weight: 700;
  }
}

@media only screen and (min-width: 768px) {
  .introduction-page-header {
    font-size: 4rem;
    font-weight: 700;
  }
}

@media only screen and (min-width: 1280px) {
  .introduction-page-header {
    font-size: 5rem;
    font-weight: 700;
  }
}
@media only screen and (min-width: 1920px) {
  .introduction-page-header {
    font-size: 6rem;
    font-weight: 700;
  }
}

@media only screen and (min-width: 2560px) {
  .introduction-page-header {
    font-size: 7rem;
    font-weight: 700;
  }
}

